packages:
  yum:
    # Celery > PyCurl
    libcurl-devel: [ ]
    openssl-devel: [ ]
    openssl-static: []


container_commands:
  01_uninstall_pycurl:
    command: source ${PYTHONPATH}/activate && ${PYTHONPATH}/pip uninstall -y pycurl
    ignoreErrors: false

  02_install_pycurl:
    command: source ${PYTHONPATH}/activate && export PYCURL_SSL_LIBRARY=openssl && ${PYTHONPATH}/pip install pycurl==${INSTALL_PYCURL_VER} --compile --no-cache
    ignoreErrors: false
